[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
django = "*"
django-allauth = "==0.50"
dj-rest-auth = {version = "==4.0.0", extras = ["with_social"]}

[dev-packages]

[requires]
python_version = "3.10"
